extends layout

block content
  header
    a(href='')
      h4.logo FF4TV
    nav
      ul
        li
          a(href='/').button Home
        li
          a(href='/auth/logout').button Log Out

  section#user.user

    h2 Edit Page

    br

    a(href='edit').button User Profile
    a(href='show').button Show Settings
    a(href='').button Save
  
    br
    br
    
    //username + info
    table.table1
      tbody
        tr
          td.username_T User Name
          td.username_C     A
        tr
          td.info_T Info
          td.info_C   A

    //league
    table.table2
      tbody
        tr
          td.leftside League Name
          td.rightside    A
    
    //roster
    table.table3
      tbody
        tr
          td.rostertitle Roster Name
          td.rightside    A

    



