doctype html
html
  head
    title= FF4TV
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/bootstrap-4.0.0.css')
    link(href='stylesheets/singlePageTemplate.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css', integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU', crossorigin='anonymous')

    link(rel='stylesheet', href='/stylesheets/login.css')
    
    script(src='http://use.edgefonts.net/source-sans-pro:n2:default.js', type='text/javascript')

body(class='container')
block content
