extends layout
block content

  h1=  title
    a(href='/imdb/shows') View JSON
  ul
    each result in results.results
      h3= result.title
      li #{result.year}
      li #{result.type}
      li #{result.imdbid}
      img(src=result.poster)
