extends layout

block content
  header
    a(href='')
      h4.logo FF4TV
    nav
      ul
        li
          a(href='/').button Home
        li
          a(href='/auth/logout').button Log Out

  section#user.user

    h2 Edit Page

    br

    a(href='edit').button User Profile
    a(href='show').button Show Settings
    a(href='').button Save

    br
    br

    table.table5
      tbody
        tr.tr
          td.td 1 
          td.td TV show 1
          td.td1
            i.fas.fa-minus-circle(type='button')
        tr.tr
          td.td 2 
          td.td TV show 2
          td.td1
            i.fas.fa-minus-circle(type='button')
        tr.tr
          td.td 3 
          td.td TV show 3
          td.td1
            i.fas.fa-minus-circle(type='button')

    br
    br

    form.search-box(action="/show/search", method="POST")
      input.search-txt(name='title', value='TV Show Title', type='text')
      a.search-icon
        i.fas.fa-search

    if results
      ul
        each result in results.results
          h3= result.title
          li #{result.year}
          li #{result.type}
          li #{result.imdbid}
          img(src=result.poster)
