extends layout

block content
  .container
    include nav.pug

    section#user.user

      h2 Roster Page

      br
      br

      .box
        form.search-box(action="/show/search", method="POST")
          input.search-txt(name='title', placeholder='TV Show Title', type='text')
          input.sub(value='Search', type='submit')

      br

      if results
       form(action='/roster/add', method='post')
         input.addshow(name='title', value='Add Shows', type='submit')
         ul   
           each result in results.results
      
             br
             br

             h2= result.title
               input(name='show', type='checkbox', value=result)  
             br

             img(src=result.poster)
             h6 #{result.year}
             h6 #{result.type}
             h6 #{result.imdbid}
