extends layout

block content
  if !tokens
    h1(class='logintitle') FF4TV
    a(href='/auth')
      button(class='loginbutton') Log In
      
  else
    .container
      include nav.pug

      body
        section#user.user
          h3 Home Page

          br

          //username + info
          table.table1
            tbody
              tr
                td.username_T User Name
                td.rightside     A

          table.table0
            tbody
              tr
                td.info_T Info
                td.info_C   Ahtrejtetekrhktrwhtrhewkthrjthw

          //league
          table.table2
            tbody
              tr
                td.leftside League Name
                td.rightside    A
          
          //roster
          table.table3
            tbody
              tr
                td.rostertitle Roster Name
                td.rightside    A

          h2.userrosterscore (Put score here)

          //tvshows
          table.table4
            tbody
              tr.tr
                td.td 1 
                td.td TV show 1
              tr.tr
                td.td 2 
                td.td TV show 2
              tr.tr
                td.td 3 
                td.td TV show 3


        .gallery
          h2.competertitle Competing Rosters
          .thumbnail
            h1.stats Player 1
            h4 100
            p 1. TV show 1
            p 2. TV show 2
            p 3. TV show 3
          .thumbnail
            h1.stats Player 2
            h4 100
            p 1. TV show 1
            p 2. TV show 2
            p 3. TV show 3
          .thumbnail
            h1.stats Player 3
            h4 100
            p 1. TV show 1
            p 2. TV show 2
            p 3. TV show 3
          .thumbnail
            h1.stats Player 4
            h4 100
            p 1. TV show 1
            p 2. TV show 2
            p 3. TV show 3







