extends layout

block content
  .container
    include nav.pug
    section#user.user
      if !league

        br

        h1 Create League
          form(action='/league/create' method='post')
            label(for='league_name') League Name  
              input(type='text', name='league_name', placeholder="Name")
            br
            label(for='max_users') Maximum Users  
              input(type='number', name='max_users', min='1', max='10', placeholder="Minimum 1, Maximum 10")
            br
            input(name='submit', value='Create', type='submit')

        h1 Join League
          form(action='/league/join' method='post')
            input(type='text', name='leagueid', placeholder='League ID')
            br
            input(name='submit', value='Join', type='submit')
    
      if user.rosterid != null && rosters && rosters.length > 0
        h1 League #{league.name}
        p #{league.description}
        h3 Competing Rosters:
        each roster in rosters 
         if roster
            h4 #{roster.name}
            p #{roster.description}
            p Last Week's Score: #{roster.last_score}

