header
    h4.logo FF4TV
    nav
        ul
            li
                a(href='/').button Home
            li
                a(href='/user').button Profile
            li
                a(href='/roster').button Roster
            li
                a(href='/league').button League
            li
                a(href='/settings').button Settings
            li
                a(href='/auth/logout').button Log Out
