extends layout

block content
  .container
    include nav.pug

    section#user.user
      if (roster)
        if (inventory)
          h4 Remove Shows from your Inventory:
          form(action='/roster/remove', method='post')
            each show in inventory
              p #{show.title}
                input(type='checkbox', name='show', value=show)
            input(type='submit', value='Remove Shows from Roster')
      else
        h4 You have no roster!
