extends layout

block content
  .container
    include nav.pug

    section#user.user

      if (roster)
        h1 #{roster.name}
          br
          a.roster(name='Add', href='roster/add') Add
          a.roster(name='Set Next Active', href='/roster/set') Set Next Lineup
          a.roster(name='Remove', href='/roster/remove') Remove
          

        if (lineup)
          h4 Your Active Shows:
          each show in lineup
            p #{show.title}
            img(src=show.poster_url)

          h4 Your Inactive Shows:
          each show in bench
            p #{show.title}
            img(src=show.poster_url)
          br
          br

        else
          h4 You have no active shows!          

      else
        h4 You do not have a Roster! You must be in a League to have a Roster.
           br
           a(href='league') Create or Join a League
           br
           br
