extends layout

block content
  .container
     include nav.pug

     section#user.user

       if (roster)
          if (lineup.length > 0)
            h4 Your Next Lineup:
            each show in lineup
              h6 #{show.title}
              img(src=show.poster_url)
              p Current Rating: #{show.current_rating}

          else
            h4 You have no Lineup set!

          if (inventory.length > 0)
            h4 Set Your Lineup:
            form(action='/roster/set', method='post')
              each show in inventory
                p #{show.title}
                  input(type='checkbox', name='show', value=show)
              input(type='submit', value='Set Active Shows') 
          else
            h4 You have no shows in your inventory.
            a(href='/roster/add') Set Lineup
       else
         h4 You have no roster!

