extends layout

block content
  .container
    include nav.pug

    section#user.user

      h2 Settings Page

      br

      if (user.admin)
        a.submitbutton(href='/league/score') Score League 
        a.submitbutton(href='/league/weekend') Initiate Weekend 
        a.submitbutton(href='/league/delete') Delete League 
      else if (league)
        a.submitbutton(href='/league/leave') Leave League 

      if(roster)
        form(action='/roster/setname', method='post')
          h2.settingfield Roster Name
            br
            input.input1(type='text', name='name', value=roster.name)
            input.submitbutton(type='submit', value='Set Roster Name')

      if (user.admin)
        form(action='/league/setname', method='post')
          h2.settingfield League Name
            br
            input.input1(type='text', name='name', value=league.name)
            input.submitbutton(type='submit', value='Set League Name')
        p Your League ID is: #{league.leagueid}
