@charset "utf-8";

.loginbutton {
	
    width: 400px;
    height: 40px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    border: 2px solid #FFFFFF;
    color: #4B4B4B;
    transition: all 0.3s linear;
    font-size: 20px;
}
.loginbutton:hover {
    background-color: #FEFEFE;
    color: #C4C4C4;
    cursor: pointer;
}
.logintitle {
    font-weight: bold;
    padding-top: 10%;
    padding-bottom: 5%;
    font-size: 150px;
    color: #4B4B4B;
}
.container {
    text-align: center;
	
}

body {
    background-image: url(/img/bg.jpg);
    background-size: cover;
}

#id
