@charset "UTF-8";
/* Body */

html, body
{
    height: 100%;
}
body {
	font-family: source-sans-pro;
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}
/* Container */
.container {
	width: 90%;
}
/* Navigation */
header {
	width: 100%;
	height: 50px;
	background-color: #676767;
	border-bottom: 1px solid #2C9AB7;
}
.logo {
	color: #fff;
	font-weight: bold;
	text-align: center;
	width: 10%;
	float: left;
	//margin-top: auto;
	margin-left: 25px;
	letter-spacing: 4px;
	padding: 10px 0;
}
nav {
	float: right;
	width: 80%;
	text-align: right;
	margin-right: 25px;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 14px;
	text-align: middle;
	margin-right: 5px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
	padding: 10px 0;
}
ul li a {
	color: #FFFFFF;
	text-decoration: none;
}
ul li:hover a {
	color: #2C9AB7;
}
.leftside {
	font-size: 200%;
	color: #000000;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;

	padding-top: 0px;
	padding-bottom: 10px;
}
/* User Section */
.T {
	color: #FFFFFF;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
}
.picture {
	text-align: center;
	padding-top: 0px;
	padding-bottom: 0px;

}
.user {
	background-color: #DFDFDF;
	padding-top: 50px;
	height: 100%;

}

.field {
	font-size: 200%;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 4px;

	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	

	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
	padding-right: 20px;
}

.settingfield {
	font-size: 200%;
	color: #000000;
	text-align: center;
	letter-spacing: 4px;

	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	

	padding-top: 30px;
	padding-bottom: 10px;
	padding-left: 0px;
	padding-right: 0px;
}


.typein_info {
	font-size: 200%;
	font-weight: bold;
	color: #717070;

	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.username_T {
	font-size: 200%;
	color: #000000;
	text-align: center;
	letter-spacing: 4px;

	padding-top: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	padding-right: 0px;
}
.username_C {
	font-size: 200%;
	font-weight: bold;
	color: #717070;

	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.info_T {
	font-size: 200%;
	color: #000000;
	text-align: center;
	letter-spacing: 4px;

	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 0px;
	padding-right: 0px;
}
.info_C {
	font-size: 100%;
	letter-spacing: 4px;
	text-align: center;
	color: #717070;
	font-weight: bold;

	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 30px;
	padding-right: 0px;
}
.rightside {
	font-size: 200%;
	font-weight: bold;
	color: #717070;

	padding-top: 0px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 0px;
}
.userroster {
	font-size: 200%;
	text-align: center;
	font-weight: bold;
	color: #000000;

	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.userrosterscore {
	font-size: 200%;
	text-align: center;
	font-weight: bold;
	color: #0084FF;

	padding-top: 30px;
	padding-bottom: 20px;
	padding-left: 0px;
	padding-right: 0px;
}
.rostertitle {
	font-size: 200%;
	color: #000000;
	text-align: center;
	letter-spacing: 4px;

	padding-top: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	padding-right: 0px;
}
.table {
	
	width: 200;
	margin: 0;
    
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}
.table0 {

	width: 200;
	margin: 0;
    
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}
.table1 {

	width: 200;
	margin: 0;
    
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}
.table2 {
	
	width: 200;
	margin: 0;
    
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}
.table3 {
	
	width: 200;
	margin: 0;
    
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}
.table4 {
	font-size: 150%;
	width: 200;
	margin: 0;
    
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}
.table5 {
	font-size: 150%;
	width: 200;
	margin: 0;
    
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);

    padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 0px;
	padding-left: 0px;
}
.table6 {

	width: 200;
	margin: 0;
    
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}
.table7 {

	width: 200;
	margin: 0;
    
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}
.table8 {

	width: 200;
	margin: 0;
    
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}
.td {
	padding-top: 20px;
	padding-right: 40px;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
.td1 {
	padding: 15px;
}
.tr {
	padding: 15px;
	padding-left: 20px;
}
.container1 {
	text-align: center
}

/* Competer */
.stats {
	color: #717070;
	margin-bottom: 5px;
}
.gallery {
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #FFFFFF;
	/* [disabled]min-width: 400px;
*/
	padding-bottom: 150px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: 0px;
}
.thumbnail {
	width: 25%;
	text-align: center;
	float: left;
	margin-top: 35px;
}
.gallery .thumbnail h4 {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #52BAD5;
}
.gallery .thumbnail p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #000000;
}
/* Competer Section */
.competertitle {
	color: #000000;
	text-align: center;
	padding-top: 110px;
	letter-spacing: 2px;
	margin-top: 0px;
}
/* More info */
.button {

	width: 400px;
    height: 30px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding-top: auto;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    transition: all 0.3s linear;
    font-size: 20px;

}
.button:hover {
	background-color: #FEFEFE;
	color: #000000;
	cursor: pointer;
}

.hidden {
	display: none;
}
.form {
	margin-top: 40px;
	margin-bottom: 5px;
	margin-right: auto;
	margin-left: auto;

	padding-top: 15px;
	padding-bottom: 0px;
	padding-right: 5px;
	padding-left: 5px;
}


.box {
	position: relative;
	width: 300px;
	height: 40px;
    margin: auto;
	//transform: translate(-80%, -50%);

	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.search-box {
	left: 0%;
	position: absolute;	
	background: white;
	min-width: 200px;
	height: 40px;
	border-radius: 25px 0 0 25px;
}
.sub {
	position: absolute;
	left: 100%;
	border-radius: 0 25px 25px 0;
	width: 80px;
	height: 40px;
	border: none;
	outline: none;
	cursor: pointer;
	background: #ffc107;
	color: #fff;


}


.search-box:hover > .search-txt {
	width: 250px;
	padding: 0 10px;
}


.search-txt {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: grey;
	font-size: 16px;
	transition: 0.5s;
	line-height: 40px;
	width: 0px;
	font-weight: bold;

	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 20px;


}﻿

.empty {
	width: 35px;
	height: 35px;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-right: 0px;
	margin-left: 20px;

}

.addshow {

	border-radius: 25px 25px 25px 25px;
	width: 100px;
	height: 40px;
	border: none;
	outline: none;
	background: #ffc107;
	color: #fff;
	cursor: pointer;
	margin-top: 15px;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;

}

.submitbutton {

	width: 200px;
    height: 60px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding-top: auto;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    border: 2px solid #FFFFFF;
    color: #4B4B4B;
    transition: all 0.3s linear;
    font-size: 20px;
    border-radius: 60px 60px 60px 60px;

}
.submitbutton:hover {
	background-color: #FEFEFE;
	color: #C4C4C4;
	cursor: pointer;
}

a.roster {

	width: 200px;
    height: 60px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding-top: auto;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    border: 2px solid #FFFFFF;
    color: #4B4B4B;
    transition: all 0.3s linear;
    font-size: 20px;
    border-radius: 60px 60px 60px 60px;

}
a.roster:hover {
	background-color: #FEFEFE;
	color: #000000;
	cursor: pointer;
}